.container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.image {
    padding-top: 0px;
    width: 30%;
    height: 30%;
    opacity: 0;
    animation: slideIn 1s forwards;
    border-radius: 8px;
    padding: 2px;
}

@keyframes slideIn {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}