
/* Add @font-face rule for the second font */
@font-face {
    font-family: 'HelveticaNeueLight';  /* Define a name for the second font */
    src: url('../assets/fonts/HelveticaNeue-Light.otf');  /* URL to the second font file */
}
    
    
#contactInfo {
    width: 500px;
    padding: 10px;
    padding-top: 50px; /* Adjust this value to move the text down */
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-family: 'HelveticaNeueLight';
    color: #eaeaea;
}
