    /* Add a new style for the text box */
    /* Add @font-face rule for the second font */
    @font-face {
        font-family: 'HelveticaNeueLight';  /* Define a name for the second font */
        src: url('../assets/fonts/HelveticaNeue-Light.otf');  /* URL to the second font file */
    }


    .textbox {
        position: absolute;
        top: 165%;
        left: 1;  /* Align to the left */
        width: 40%;  /* Adjust the width as needed */
        height: auto;  /* Adjust the height as needed */
        padding: 4px;  /* Same padding as the toolbar */
        font-size: 22px;  /* Adjust the font size as needed */
        border-radius: 3px;  /* Rounded edges */
        background-color: transparent;  /* Grey background: #bcbcbc */
    }

    /* Add padding to the paragraph inside the textbox */
    .textbox p {
        padding: 8px;  /* Adjust as needed */
        font-family: 'HelveticaNeueLight', sans-serif;  /* Change the font as needed */
        color: #333;  /* Change the color as needed */
    }