    /* Add @font-face rule */
    @font-face {
        font-family: 'Helvetica-Neue';  /* Define a name for the font */
        src: url('assets/fonts/HelveticaNeue-Medium.otf');  /* URL to the font file */
    }

    /* Add @font-face rule for the second font */
    @font-face {
        font-family: 'HelveticaNeueLight';  /* Define a name for the second font */
        src: url('assets/fonts/HelveticaNeue-Light.otf');  /* URL to the second font file */
    }

    .toolbar {
        position: absolute;
        background-color: #333;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        border-radius: 3px;
        padding: 4px;  /* Add padding to toolbar */
        top: 180%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    

    .toolbar a {
        display: inline-block;
        transition: background-color 0.3s ease;
        color: #eaeaea;
        text-align: justify;
        padding: 4px 16px;  /* Reduce vertical padding */
        text-decoration: none;
        font-size: 25px;
        border-radius: 3px;
    }

    .toolbar a:hover {
        background-color: #eaeaea;
        color: #333;
    }

    .toolbar a.active {
        background-color: #222222;
        color: #eaeaea;
    }
