/* Add @font-face rule */
@font-face {
    font-family: 'Helvetica-Neue';  /* Define a name for the font */
    src: url('../assets/fonts/HelveticaNeue-Medium.otf');  /* URL to the font file */
}

/* Add @font-face rule for the second font */
@font-face {
    font-family: 'HelveticaNeueLight';  /* Define a name for the second font */
    src: url('../assets/fonts/HelveticaNeue-Light.otf');  /* URL to the second font file */
}

.toolbar {
    position: absolute;
    background-color: #eaeaea;
    justify-content:center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 4px;
    top: 38px;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
}

.toolbar a {
    display: inline-block;
    transition: background-color 0.3s ease;
    color: #3d3d3d;
    text-align: justify;
    padding: 4px 16px;  /* Reduce vertical padding */
    text-decoration: none;
    font-size: 25px;
    font-family: 'Helvetica-Neue';
    border-radius: 3px;
    margin: 0 3px;  /* Add horizontal margins */
}

.toolbar a:hover {
    background-color: #3d3d3d;
    color: #eaeaea;
}

.toolbar a.active {
    background-color: #3d3d3d;
    color: #eaeaea;
}
